<style>

.testklasse {
  background-color: grey;

}


#kopfbereich {
  background-color: writ;
}

#kopfbereich p {
  color:black;
  text-align:center;
  font-size:2em;
  padding:0.6em 4em 0 0;
}

#steuerung p {
  padding-left:1em;
}

#inhalt p {
  padding:2em;
}

* {
  margin:0;
  padding:0;
  margin-left: 50;
}

#inhalt h1, h2, h3, p, ul {
  padding-bottom:.7em;
}

#inhalt ul {
  padding-left:2em;
}

html, body {
  font: 100% Arial, Helvetica, sans-serif;
}

.input{
  border:1px solid #333;
}
.required{
  color:red;
  font-size:12px;
}

#registerDiv{
  display:none;
  margin-top:10px;
  margin-left:20px;
  border:2px solid #333;
  padding:3px;
  background:#cdcdcd;
  width:280px;
  text-align:center;
}
#popup{
  display:none;
  padding:10px;
  background:#969696;
  position:absolute;
  top:25%;
  left:25%;
  z-index: 99999;
  opacity:100%;

}
#popupinfo{
  padding:2px;
  text-align:center;
  background:#cfcfcf;
}
#popupinfo p{
  font-size:14px;
}

#popupinfo .button {
  text-align:center;
}
#popupinfo .button a{
  text-decoration:none;
  border:1px solid #333;
  width:20px;
  padding:5px;
  background:#1A1A1A;
  color:#eee;
}

#popupinfo .button a:hover{
  background:#eee;
  color:#1a1a1a;
}

#mask{

  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999;

}
