<style>

html {
  height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #d3d3d3;
  min-width: 400px;
}


h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 20%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}


input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-l {
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.main-center{
 	margin-top: 30px;
  margin-bottom: 30px;
 	margin: 0 auto;
 	max-width: 370px;
  padding: 30px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


/**
* Ab hier meins
*/
.schmal {

  min-height: : 10px;
  max-height: 100em;
  margin-top: 5px;
}

#infoBox {
  text-align: center;
  font-size: 15px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.regler {
  text-align: bottom;
}

.erzieltePktP {
  border: 1px black;
}

.erzieltePktDiv {
  margin-left: 0;
}

.logoutDiv {
  position: absolute;
  right: 5px;
  top: 5px;
}

.rankingListe {
  border-color: black;
  border: 1px;
}

.page-header {
  margin-top: 10px;
  padding:0;
  margin-left: 33%;
  width: 35em;
}

.radioB {
  margin-top: 10px;
  padding:0;
  margin-left: 33%;
  width: 35em;
}

#registrierung {
  margin-top: 10px;
  padding:0;
  margin-left: 33%;
  width: 35em;
}

.headline {
  font-size: 38px;


}

.navwidth {
  margin: 0 auto;
}

.navbar {
  margin-bottom: 8px;
}

.ranking {
  height: 425px ;
  overflow: auto;
}

.centerwidth {
  width: 370px;
  margin: auto;
}
